#box {
   width: auto;
   height:auto; 
   display: flex;
   gap: 1em;
}


.imagen {
    mask-image: linear-gradient(
        white 70%,
        transparent
    );

}

.imagen_noche {
    mask-image: linear-gradient(
        black 70%,
        transparent
    );

}




.dark-body {
    background-color: #252424; /* bg-gray-800 de Tailwind */
}