<!DOCTYPE html>
<html lang="en">
<head>
    <script>
  if (localStorage.getItem("dark-mode") === "true") {
    document.documentElement.classList.add("dark");
  }

</script>

<style>
  html { visibility: hidden; }
</style>
<script>
  if (localStorage.getItem("dark-mode") === "true") {
    document.documentElement.classList.add("dark");
  }
  document.documentElement.style.visibility = "visible";
</script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <link href="../static/styles.css" rel="stylesheet">



    <style>
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-fade-in-down {
  animation: fadeInDown 0.4s ease-out forwards;
}

.animate-fade-out-up {
  animation: fadeOutUp 0.4s ease-in forwards;
}
</style>

</head>

<body class="
    {% if dark_mode %}
        bg-gray-900
    {% else %}
        bg-white
    {% endif %}
">

    <!-- Navbar -->
    <nav style="background-color: #333c87;" class="bg-blue-500 p-4 z-2">
        <div class="container mx-auto flex justify-between items-center">
            <a href="/" class="text-white text-lg font-bold"> <i class="fa-solid fa-house"></i> Nically</a>

           

            <div id="box">
                {% for achievement in achievements %}
                    <a style="color:#FFD700"  href="/achievements" class="flex items-center gap-2 text-white hover:bg-blue-700 px-3 py-2 rounded w-full md:w-auto">
                        <i class="fa-brands fa-web-awesome "></i>
                    </a>
                {% endfor %}
            </div>

            <!-- Botón para menú en dispositivos pequeños -->
            <button id="menu-toggle" class="block md:hidden text-white">
                <i class="fa-solid fa-bars"></i>
            </button>

            <!-- Menú de navegación -->
            <div id="menu" id="menu" class="hidden flex-col items-start space-y-2 mt-4 md:mt-0 md:flex md:flex-row md:items-center md:space-y-0 md:space-x-4">
>
                <a href="/enciclopedia" class="flex items-center gap-2 text-white hover:bg-blue-700 px-3 py-2 rounded w-full md:w-auto">
                    <i class="fa-solid fa-landmark"></i> Enciclopedia
                </a>
                <a href="/achievements" class="flex items-center gap-2 text-white hover:bg-blue-700 px-3 py-2 rounded w-full md:w-auto">
                    <i class="fa-solid fa-crown"></i> Trofeos
                </a>
                <a href="/settings" class="flex items-center gap-2 text-white hover:bg-blue-700 px-3 py-2 rounded w-full md:w-auto">
                    <i class="fa-solid fa-gear"></i> Ajustes
                </a>
                <a href="/user_profile" class="flex items-center gap-2 text-white hover:bg-blue-700 px-3 py-2 rounded w-full md:w-auto">
                    <i class="fa-solid fa-user"></i> Perfil
                </a>

                {% if not session.get('user_id') %}
                <a href="/login" class="flex items-center gap-2 text-white hover:bg-blue-700 px-3 py-2 rounded w-full md:w-auto">
                    <i class="fa-solid fa-pen-to-square"></i> Login
                </a>
                <a href="/register" class="flex items-center gap-2 text-white hover:bg-blue-700 px-3 py-2 rounded w-full md:w-auto">
                    <i class="fa-solid fa-file"></i> Register
                </a>
                {% else %}
                <a href="/logout" class="flex items-center gap-2 text-white hover:bg-blue-700 px-3 py-2 rounded w-full md:w-auto">
                    <i class="fa-solid fa-user-minus"></i> Logout
                </a>
                <h class="flex items-center gap-2 text-white hover:bg-blue-700 px-3 py-2 rounded w-full md:w-auto">
                    <i class="fa-solid fa-cube"></i> Bienvenido {{ username }}
                </h>
                {% endif %}

                <button id="dark-mode-toggle" onclick="toggleDarkMode()" class="flex items-center gap-2 text-white hover:bg-blue-700 px-3 py-2 rounded w-full md:w-auto transition-colors duration-200">
                    {% if dark_mode %}
                        <i class="fa-solid fa-sun"></i>
                    {% else %}
                        <i class="fa-solid fa-moon"></i>
                    {% endif %}
                </button>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class=" relative container mx-auto p-4 ">
        <div class="absolute inset-0 -z-1 pointer-events-none">

            {% if dark_mode %}
            <img class=" imagen_noche w-full h-full object-cover" src="{{imagen_noche}}" >
            {% else %}
              <img class=" imagen w-full h-full object-cover" src="{{imagen_dia}}">
            {% endif %}
            
            
        
        </div>

        <div>


          

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="alert-modal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50 animate-fade-in-down">
        <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-lg">
            {% for category, message in messages %}
            <p class="text-lg text-center font-semibold text-{{ 'green-500' if category == 'success' else 'red-500' }}">
                {{ message }}
            </p>
            {% endfor %}
            <button
                onclick="cerrarAlerta()"
                class="mt-4 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded w-full"
            >
                Cerrar
            </button>
        </div>
    </div>

    <script>
    function cerrarAlerta() {
        const alerta = document.getElementById('alert-modal');
        alerta.classList.remove('animate-fade-in-down');
        alerta.classList.add('animate-fade-out-up');
        setTimeout(() => alerta.classList.add('hidden'), 400);
    }
    </script>
    {% endif %}
{% endwith %}



        {% block main %}{% endblock %}
    </div>

    
</body>
</html>

  <script>
        // Navbar toggle para dispositivos móviles
        const toggle = document.getElementById('menu-toggle');
        const menu = document.getElementById('menu');
        toggle.addEventListener('click', () => {
            menu.classList.toggle('hidden');
        });
    </script>


<script>
document.getElementById("dark-mode-toggle").addEventListener("click", async () => {
    await fetch("/toggle-dark-mode", { method: "POST" });
    window.location.reload(); // Recarga para aplicar cambios del modo
});
</script>



<script>
    setTimeout(() => {
        const alert = document.querySelector('[role="alert"]');
        if (alert) alert.remove();
    }, 5000);
</script>

