{% extends "trivia_layout.html" %}

{% block content %}
<div class="container mx-auto px-4 py-16" id="trivia-container">
    <!-- Encabezado con título y vidas -->
    <div class="flex items-center justify-between mb-6 relative sm:min-h-0">
        <div class="absolute left-1/2 transform -translate-x-1/2">
            <h2 class="text-3xl font-semibold text-center">{{ trivia['title'] }}</h2>
        </div>
        <div class="ml-auto bg-red-100 text-red-800 text-sm font-bold px-4 py-2 rounded shadow-lg">
            Lives: {{ lives }}
            
        </div>
    </div>
    
    <!-- Contenedor para la trivia -->
    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-4xl mx-auto mb-8">
        <p class="text-sm text-gray-500 text-center mb-4">
            Pregunta {{ question_num + 1 }} de {{ total_questions }}
        </p>
        <p id="question-text" class="text-lg font-medium text-center">
            {{ question['question_text'] }}
        </p>
    </div>

    <!-- Contenedor para las respuestas -->
    <div class="bg-gray-100 rounded-lg shadow-md p-6 w-full max-w-4xl mx-auto">
        {% for respuesta in total_responses %}
        
            
            {% if "correct_response_id" in respuesta %}

                <form
                method="POST"
                action="{{ url_for('register_correct_response', trivia_id= trivia['trivia_id'], correct_response_id= respuesta['correct_response_id'],  total_questions = total_questions, correct_question_id = respuesta['question_id'])}}"
                >
                    <button
                        type="submit"
                        id="button"
                        class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded w-full trivia-button"
                    >
                    {{respuesta['correct_response_text']}}
                    </button>
                </form>
            {% elif "response_id" in respuesta %}

            
            <form
            method="POST"
            action="{{ url_for('register_response', trivia_id=trivia['trivia_id'], response_id = respuesta['response_id'], question_id = respuesta['question_id'])}}"
            >
            <button
                type="submit"
                id="button"
                class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded w-full trivia-button"
            >
                {{ respuesta['response_text'] }}
            </button>
        </form>
        {% endif %}

        {% endfor %}
    </div>
</div>


{% endblock %}
